// Variables
@import 'variables';
@import "lib/jquery.steps";

.media .media-object {
    max-width: 200px;
}

@media (max-width: 1023px) {
    .media .media-body {
        float: left;
    }
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.box-cnaes {
    position: relative;
}

.box-add-new-owner,
.box-add-new-cnae {
    position: absolute;
    top: 20px;
    right: 20px;
}

.box-add-new-owner button,
.box-add-new-cnae button {
    border-radius: 50%;
}

.text-white {
    color: #fff;
    &:hover {
        color: #ddd;
    }
}
